html {
	scroll-behavior: smooth;
}

body {
 	font-family: Raleway, sans-serif;
 	background-color: #f0f0f0;
 	color: #1d1d1d;
 	margin: 0;
 	padding: 0;
	text-decoration: none;
}

.nav_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:15px 0 0 0;
}

.nav_logo a {
	display: flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	color: #1d1d1d;
}

.logo {
	background: linear-gradient( rgba(28, 28, 28, 0.651), rgba(0, 0, 0));
	max-width: 35px;
	height: auto;
	border-radius: 9px;
	box-shadow: -5px 4px 14px 0px rgb(0 0 0 /60%);
}

.mail_btn {
	z-index: 100;
	background: linear-gradient( 45deg, #3b3b3b, #1d1d1d);
	color: #f1f1f1;
	cursor: pointer;
	border-radius: 999px;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease;
	display: flex;
	position: fixed;
	bottom: 2.5em;
	right: 2.5em;
	border: none;
	box-shadow: inset 0 6px 12px #ffffff26, 0 8px 16px #0000003d, 0 4px 8px #0000000f, 0 2px 4px #0000000f, 0 1px 2px #0000000f, inset 0 4px 5px #ffffff08, inset 0 1.5px 1.5px #ffffff08, inset 0 .75px .75px #ffffff0a, inset 0 .25px .25px #ffffff0f;
}
  
.mail_btn:hover {
	transform: scale(1.08);
}

.mail_btn:active {
	transform: scale(0.96);
}

.iframe-container {
	background-color: #f5f5f5;
	padding: 16px;
	border-radius: 16px;
}
  
iframe {
	width: 100%;
	height: 500px;
	border: none;
	border-radius: 16px;
	background-color: #f5f5f5;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
@media screen and (max-width: 992px) {
        .mail_btn {
		width: 9vh;
		height: 9vh;
		bottom: 1em;
		right: 1em;
	}

	.lucide-mail-icon {
		width: 3.5vh;
		height: 3.5vh;
	}
	
	.mail_btn {
		bottom: 1em;
		right: 1em;
	}
}
