:root {
    --packs_bc: #ff87002e;
    --packs_tc: #393939;
}

.packs_wrapper {
    background-color: var(--packs_bc);
    border-radius: 40px;
    color: var(--packs_tc);
    padding:0 25px 50px;
    margin: 50px;
}

.packs {
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
}

.offre {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    align-items: center;
}
.offre h4 {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.offre_element {
    display: flex;
    gap: 5px;
    align-items: center;
}

.offre_element p {
    margin: 2px;
}

input {
    cursor: pointer;
}

.ab {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 10px 30px;
	border: 4px solid;
	border-color: transparent;
	font-size: 16px;
	background-color: #2e2e2e;
	border-radius: 100px;
	box-shadow: inset 0px 0px 14px 0px #1d1d1d;
	font-weight: 600;
	color: #f0f0f0;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button svg {
	position: absolute;
	width: 22px;
	fill: #f0f0f0;
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .arr-1 {
	right: 16px;
}
  
.animated-button .arr-2 {
	left: -25%;
}
  
.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: #1d1d1d;
	border-radius: 100px;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .text {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: #f0f0f0;
	border-radius: 100px;
}
  
.animated-button:hover .arr-1 {
	right: -25%;
}
  
.animated-button:hover .arr-2 {
	left: 16px;
}
  
.animated-button:hover .text {
	transform: translateX(12px);
}
  
.animated-button:hover svg {
	fill: #f0f0f0;
}
  
.animated-button:active {
	scale: 0.95;
}
  
.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}

.main {
    flex-direction: column-reverse;
}

@media (max-width: 768px) {
    .packs_wrapper {
        margin: 15px;
    }

    .lucide-map-pin {
        width: 24px;
        height: 24px;
    }

    .p {
        padding: 0 20px 50px;
    }

    .h3 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

hr {
	margin: 0 12vh 3vh 12vh;
	border: none;
	height: 2px;
	background: linear-gradient(-45deg, transparent, #1d1d1d38, transparent);
}
.ui-checkbox {
    --primary-color: #2d2d2d;
    --secondary-color: #fff;
    --primary-hover-color: #ababab;
    /* checkbox */
    --checkbox-diameter: 16px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #d9d9d9;
    --checkbox-border-width: 1px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1;
}
    
.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
    
.ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
    
.ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
    
.ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}
    
  /* actions */
    
.ui-checkbox:hover {
    border-color: var(--primary-color);
}
    
.ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
}
    
.ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
    
.ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
}

.switch {
    --button-width: 2em;
    --button-height: 1.2em;
    --toggle-diameter: 0.9em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 2em;
    --color-grey: #cccccc;
    --color-green: #2d2d2d;
}
   
.slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    background-color: var(--color-grey);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
   
.slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}
   
.switch input[type="checkbox"]:checked + .slider {
    background-color: var(--color-green);
}
   
.switch input[type="checkbox"]:checked + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}
   
.switch input[type="checkbox"] {
    display: none;
}
   
.switch input[type="checkbox"]:active + .slider::after {
    width: var(--toggle-wider);
}
   
.switch input[type="checkbox"]:checked:active + .slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}