:root {
    --packs_bc: #ff87002e;
    --packs_tc: #393939;
}

.packs_wrapper {
    background-color: var(--packs_bc);
    border-radius: 40px;
    color: var(--packs_tc);
    padding:0 25px 50px;
    margin: 50px;
}

.packs {
    text-align: center;
    padding-top: 30px;
    font-size: 1.3em;
    font-weight: normal;
}

.offre {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    align-items: center;
}
.offre h4 {
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.offre_element {
    display: flex;
    gap: 5px;
    align-items: center;
}

.offre_element p {
    margin: 2px;
}

input {
    cursor: pointer;
}

.ab {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
}

.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 10px 30px;
	border: 4px solid;
	border-color: transparent;
	font-size: 16px;
	background-color: #2e2e2e;
	border-radius: 100px;
	box-shadow: #1d1d1d;
	font-weight: 600;
	color: #f0f0f0;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button svg {
	position: absolute;
	width: 22px;
	fill: #f0f0f0;
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .arr-1 {
	right: 16px;
}
  
.animated-button .arr-2 {
	left: -25%;
}
  
.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: #1d1d1d;
	border-radius: 100px;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .text {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: #f0f0f0;
	border-radius: 100px;
}
  
.animated-button:hover .arr-1 {
	right: -25%;
}
  
.animated-button:hover .arr-2 {
	left: 16px;
}
  
.animated-button:hover .text {
	transform: translateX(12px);
}
  
.animated-button:hover svg {
	fill: #f0f0f0;
}
  
.animated-button:active {
	scale: 0.95;
}
  
.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}

.main {
    flex-direction: column-reverse;
}

@media (max-width: 768px) {
    .packs_wrapper {
        margin: 15px;
    }

    .lucide-map-pin {
        width: 24px;
        height: 24px;
    }

    .p {
        padding: 0 20px 50px;
    }

    .h3 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

hr {
	margin: 0 12vh 3vh 12vh;
	border: none;
	height: 2px;
	background: linear-gradient(-45deg, transparent, #1d1d1d38, transparent);
}