html {
	scroll-behavior: smooth;
}

body {
 	font-family: Raleway, sans-serif;
 	background-color: #f0f0f0;
 	color: #1d1d1d;
 	margin: 0;
 	padding: 0;
	text-decoration: none;
}

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	margin-left: 90px;
	margin-right: 90px;
}

.nav_logo a {
	display: flex;
	align-items: center;
	gap: 5px;
	text-decoration: none;
	color: #1d1d1d;
}

.logo {
	max-width: 35px;
	height: auto;
	border-radius: 11px;
	box-shadow: -5px 4px 14px 0px rgb(0 0 0 /60%);
}

.nav_links ul {
	display: flex;
	gap: 60px;
	font-size: 1.2rem;
}

li {
	list-style: none;
	font-weight: bold;
}


.nav_links a {
	color: #1d1d1d;
	text-decoration: none;
	transition: color 0.3s;
}

.nav_links a {
	position: relative;
}
  
.nav_links a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 0;
	height: 2px;
	background-color: #1d1d1d;
	transition: width 0.3s ease;
}
  
.nav_links a:hover::after {
	width: 100%;
}
  
.menu-toggle {
	display: none;
    background: none;
    border: none;
	border: none;
}

.hero_main {
	padding: 50px 0;
    background: linear-gradient(#1c1c1ca6),
				url("../assets/img/banner.png") no-repeat center center;
    background-size: cover;
}

.text_container {
	margin-top: 5vh;
}

.h1_hero {
	color: #f0f0f0;
	font-size: 3em;
	text-shadow: 6px 7px 20px rgba(0, 0, 0, 0.438);
	max-width: 800px;
	margin: 0 auto;
	letter-spacing: 0.5px;
}

.h1_span, 
.h1_span-s {
	display: inline-block;
	opacity: 0;
	transform: translateY(40px);
	animation: fadeInUp 0.6s ease forwards;
}

.p_hero {
	color: #f0f0f0;
	font-size: 1.2rem;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 2vh;
}

.p {
	display: inline-block;
	opacity: 0;
	transform: translateY(-60px);
	animation: fadeInUp 0.9s ease forwards;
	letter-spacing: 0.5px;
}

.h1_span:nth-child(1) { animation-delay: 0s; }
.h1_span-s:nth-child(2) { animation-delay: 0.1s; }
.h1_span:nth-child(3) { animation-delay: 0.2s; }
.h1_span:nth-child(4) { animation-delay: 0.3s; }
.h1_span:nth-child(5) { animation-delay: 0.4s; }
.h1_span:nth-child(6) { animation-delay: 0.5s; }
.h1_span:nth-child(7) { animation-delay: 0.6s; }
.h1_span:nth-child(8) { animation-delay: 0.7s; }
.h1_span-s:nth-child(9) { animation-delay: 0.8s; }
.p:nth-child(1) { animation-delay: 0.9s; }

@keyframes fadeInUp {
	to {
	  	opacity: 1;
	  	transform: translateY(0);
	}
}

.button_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
.button {
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	padding-block: 0.9rem;
	padding-inline: 1.5rem;
	background-color: #2e2e2e;
	border-radius: 9999px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ffff;
	gap: 10px;
	font-weight: bold;
	border: 3px solid #ffffff4d;
	outline: none;
	overflow: hidden;
	font-size: 16px;
	cursor: pointer;
}

.b {
	text-decoration: none;
}

.b-text {
	margin: 0;
	font-size: 1.1rem;
}

.icon {
	width: 2px;
	height: 24px;
	transition: all 0.3s ease-in-out;
}

.button:hover {
	transform: scale(1.05);
	border-color: #fff9;
}

.button:hover .icon {
	transform: translate(4px);
}

.button:hover::before {
	animation: shine 1.5s ease-out infinite;
}

.button::before {
	content: "";
	position: absolute;
	width: 100px;
	height: 100%;
	background-image: linear-gradient(
	  120deg,
	  rgba(255, 255, 255, 0) 30%,
	  rgba(255, 255, 255, 0.8),
	  rgba(255, 255, 255, 0) 70%
	);
	top: 0;
	left: -100px;
	opacity: 0.6;
}

.button:active {
	transform: scale(0.96);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

@keyframes shine {
	0% {
	  	left: -100px;
	}
  
	60% {
	  	left: 100%;
	}
  
	to {
	  	left: 100%;
	}
}

.portofolio_wrapper,
.services_wrapper,
.services {
	margin-top: 10vh;
}

.services_wrapper{
	margin-bottom: 10vh;
}
.h2 {
	font-size: 2.2rem;
	text-align: center;
	color: #1d1d1d;
}

.grid-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-grid {
	display: grid;
	grid-template-columns: 80px 1fr 0fr;
	gap: 2px;
	align-items: start;
	margin-top: 20px;
}
  
.box {
	padding: 10px;
}
  
.svg-box {
	grid-row: span 2;
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.text-box h3 {
	margin: 0;
	max-width: 300px;
	font-size: 2rem;
}
  
.text-box p {
	max-width: 450px;
	margin-top: 10px;
	font-size: 1.5rem;
}

.image-box img {
	width: 280px;
	height: auto;
	border-radius: 15px;
	object-fit: cover;
}
  
.text-box {
	padding: 10px;
	margin-right: 0;
	box-sizing: border-box;
}

.portofolio_wrapper {
	margin-bottom: 10vh;
	overflow: hidden;
	position: relative;
}

.portofolio_slider_wrapper {
	position: relative;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.portofolio_slider {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	width: 100%;
	gap: 40px;
	padding: 20px 0;
	background: #64350212;
}

.portofolio_slider::-webkit-scrollbar {
	display: none;
}

.portofolio_slide {
	display: flex;
	align-items: center;
	padding: 0 20vh;
	flex-wrap: wrap;
	flex: 0 0 100%;
	scroll-snap-align: start;
	box-sizing: border-box;
	gap: 20px;
}

.pop {
	font-size: 1.5rem;
	flex: 1 1;
}

.portofolio_image {
	margin-top:15px;
	border-radius: 15px;
	object-fit: cover;
	width: 400px;
	height: 260px;
	margin-left: 10px;
}

.nav-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.4);
	color: white;
	border: none;
	border-radius: 100%;
	padding: 10px;
	cursor: pointer;
	z-index: 0;
	transition: background 0.3s ease;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button:hover {
	background: #00000099;
}

.nav-button.left {
	left: 10vh;
}

.nav-button.right {
	right: 10vh;
}

hr {
	margin: 0 12vh 3vh 12vh;
	border: none;
	height: 2px;
	background: linear-gradient(-45deg, transparent, #1d1d1d38, transparent);
}

.title {
	margin-left: 10vh;
	margin-right: 10vh;
}

blockquote {
	font-style: italic;
	font-size: 1.3rem;
}

.highlight {
	color: #643502;
	font-weight: bold;
}

.expert-opinion {
	margin-top: 15vh;
	margin-left: 7vh;
	font-size: 2em;
}



.crochet {
	color: #35353594;
}

.ec{
	font-size: 1.2rem;
}

.quotation-marks {
	font-size: 5rem;
	font-family: 'PT Serif', serif;
	position: absolute;
	color: #35353594;
}


.expert {
	font-size: 1.4rem;
	display: flex;
	flex-direction: row-reverse;
	margin-right: 10vw;
}

.p_wrap {
	font-size: 1.3rem;
	margin-top: 2vh;
	color: #1d1d1d;
	margin-left: 10vh;
	margin-right: 10vh;
	text-align: center;
}

.p_wrap2 {
	font-size: 1.3rem;
	margin-top: 2vh;
	color: #1d1d1d;
	margin: 0 15vh;
	text-align: center;
}

.citation .ec {
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s ease-in-out;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.citation .ec.active {
	opacity: 1;
	pointer-events: auto;
}

.citation {
	position: relative;
	height: 200px;
}

.expert_name {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	flex-direction: row;
	align-items: center;
}

.expert_img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
}

.mail_btn {
	z-index: 100;
	background: linear-gradient( 45deg, #3b3b3b, #1d1d1d);
	color: #f1f1f1;
	cursor: pointer;
	border-radius: 999px;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease;
	display: flex;
	position: fixed;
	bottom: 2.5em;
	right: 2.5em;
	border: none;
	box-shadow: inset 0 6px 12px #ffffff26, 0 8px 16px #0000003d, 0 4px 8px #0000000f, 0 2px 4px #0000000f, 0 1px 2px #0000000f, inset 0 4px 5px #ffffff08, inset 0 1.5px 1.5px #ffffff08, inset 0 .75px .75px #ffffff0a, inset 0 .25px .25px #ffffff0f;
}
  
.mail_btn:hover {
	transform: scale(1.08);
}

.mail_btn:active {
	transform: scale(0.96);
}

@media screen and (max-width: 992px) {
	.menu-toggle{
		align-self: center;  
	}
	
	.nav_container {
	    align-items: flex-start;
	    margin-left: 10px;
		margin-right: 10px;
	}

	.nav_logo img {
	max-width: 35px;
	height: auto;
	}

	.nav_logo h1 {
	  font-size: 1.3rem;
	}

	.nav_links {
		display: none;
	} 

	.h1_hero {
	  	font-size: 6vw;
		padding: 0 15px;
	}

	.p_hero {
	  	font-size: 1.1rem;
	  	padding: 0 20px;
	}

	.h2 {
		font-size: 1.8rem;
	}

	.custom-grid {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
		margin-top: 0px;
    }

	.svg-box {
		display: none;
	}

	.text-box {
		padding: 0 10px 0 10px;
	}

	.text-box  h3{
		font-size: 1.6rem;
		text-align: center;
		margin: auto;
	}

	.pop,
	.text-box p {
		margin-top: 10px;
		font-size: 1.2rem;
		text-align: center;
		margin-bottom: 0;
	}

	.img-portofolio {
		width: 90vw;
		height: 50vw;
	}

	.p_wrap2,
	.p_wrap {
		margin-top: 2vh;
		margin-left: 2vh;
		margin-right: 2vh;
		text-align: center;
	}

	hr {
		margin: 0 7vh 3vh 3vh;
	}

	.expert-opinion {
		margin-left: 0;
		text-align: center;
	}

	.expert {
		font-size: 1.5rem;
	}

	.nav-button {
		display: none;
	}

	.portofolio_image {
		border-radius: 15px;
		object-fit: cover;
		width: 80vw;
		height: 50vw;
	}

	.title {
		margin-left: 2vh;
		margin-right: 2vh;
	}

	.citation {
		height: 400px;
	}

	.mail_btn {
		bottom: 1em;
		right: 1em;
	}

	.ab {
		display: none;
	}

	.mail_btn {
		width: 9vh;
		height: 9vh;
		bottom: 1em;
		right: 1em;
	}

	.lucide-mail-icon {
		width: 3.5vh;
		height: 3.5vh;
	}
}

@media screen and (max-width: 1024px) {
	.portofolio_slide {
		padding: 0 10vw;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.pop {
		display: none;
	}
}

.button_wrapper2 {
	background: #64350212;
	padding-left: 20vh;
	padding-bottom: 5vh;
}

@media screen and (max-width: 992px) {
	.button_wrapper2 {
		display: flex;
		justify-content: center;
		padding-left: 0;
	}
}

.animated-button {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 10px 30px;
	border: 4px solid;
	border-color: transparent;
	font-size: 16px;
	background-color: #2e2e2e;
	border-radius: 100px;
	box-shadow: inset 0px 0px 14px 0px #1d1d1d;
	font-weight: 600;
	color: #f0f0f0;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button svg {
	position: absolute;
	width: 22px;
	fill: #f0f0f0;
	z-index: 9;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .arr-1 {
	right: 16px;
}
  
.animated-button .arr-2 {
	left: -25%;
}
  
.animated-button .circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: #1d1d1d;
	border-radius: 100px;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button .text {
	position: relative;
	z-index: 1;
	transform: translateX(-12px);
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.animated-button:hover {
	box-shadow: 0 0 0 12px transparent;
	color: #f0f0f0;
	border-radius: 100px;
}
  
.animated-button:hover .arr-1 {
	right: -25%;
}
  
.animated-button:hover .arr-2 {
	left: 16px;
}
  
.animated-button:hover .text {
	transform: translateX(12px);
}
  
.animated-button:hover svg {
	fill: #f0f0f0;
}
  
.animated-button:active {
	scale: 0.95;
}
  
.animated-button:hover .circle {
	width: 220px;
	height: 220px;
	opacity: 1;
}

.nav-f {
	padding-top: 7px;
	
}

.nav-f a{
	color: #bbb;
	text-decoration: none;
	transition: color 0.3s;
}

.nav-f a:hover {
	color: #f0f0f0;
}

.social-links a {
	color: #bbb;
	transition: color 0.3s;
}

.social-links a:hover {
	color: #f0f0f0;
}

button.learn-more {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	border: 0;
	vertical-align: middle;
	text-decoration: none;
	background: transparent;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
}
   
button.learn-more {
	width: 13rem;
	height: auto;
}
   
button.learn-more .circle {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	margin: 0;
	width: 3rem;
	height: 3rem;
	background: #1d1d1d;
	border-radius: 1.625rem;
}
   
button.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #f0f0f0;
}
   
button.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}
   
button.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #f0f0f0;
	border-right: 0.125rem solid #f0f0f0;
	transform: rotate(45deg);
}
   
button.learn-more .button-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #1d1d1d;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}
   
button.learn-more:hover .circle {
	width: 100%;
}
   
button.learn-more:hover .circle .icon.arrow {
	background: #f0f0f0;
	transform: translate(1rem, 0);
}
   
button.learn-more:hover .button-text {
	color: #f0f0f0;
}

@media (max-width: 992px) {
	.menu-toggle {
		display: block;
		cursor: pointer;
	}

	.nav_links {
		display: none;
		position: absolute;
		top: 100px;
		left: 0;
		width: 100%;
		background-color: #f0f0f0;
		padding: 0px;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		align-items: center;
		z-index: 2;
		border-radius: 10px 0 0 10px;
		filter: drop-shadow(2px 4px 6px #000);
	}

	.nav_links.open {
		display: block;
	}
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 14px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 2px;
    width: 100%;
    background-color: #1d1d1d;
    transition: 0.4s;
    border-radius: 5px;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(6.9px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-6.9px);
}

.nav_links {
    display: flex;
}

@media (max-width: 992px) {
    .nav_links {
        position: absolute;
        top: 65px;
        left: 40%;
        width: 60%;
        align-items: center;
        background-color: #f0f0f0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
        z-index: 99;
    }

    .nav_links.open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
    }

    .menu-toggle {
        display: flex;
    }

	.nav_links a::after {
		display: none;
	}
	.nav_links ul {
		display: block;
		padding-left: 15px;
	}

	.nav_links li {
		padding: 7px 0 7px 0;
	}
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media (max-width: 992px) {
    .mobile-only {
        display: block;
        text-align: center;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only .animated-button {
        margin-top: 10px;
    }
}

/* From Uiverse.io by satyamchaudharydev */ 
.portofolio-btn_link {
	width: 130px;
	height: 56px;
	overflow: hidden;
	border: none;
	color: #1d1d1d;
	background: none;
	position: relative;
	padding-bottom: 2em;
	cursor: pointer;
}
  
.portofolio-btn_link > div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
}
  
.portofolio-btn_link:before {
	content: "";
	position: absolute;
	height: 2px;
	bottom: 0;
	left: 0;
	width: 100%;
	transform: scaleX(0);
	transform-origin: bottom right;
	background: currentColor;
	transition: transform 0.25s ease-out;
}
  
.portofolio-btn_link:hover:before {
	transform: scaleX(1);
	transform-origin: bottom left;
}
  
.portofolio-btn_link .clone > *,
.portofolio-btn_link .text > * {
	opacity: 1;
	font-size: 1.3rem;
	transition: 0.2s;
	margin-left: 4px;
}
  
.portofolio-btn_link .clone > * {
	transform: translateY(60px);
}
  
.portofolio-btn_link:hover .clone > * {
	opacity: 1;
	transform: translateY(0px);
	transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
  
.portofolio-btn_link:hover .text > * {
	opacity: 1;
	transform: translateY(-60px);
	transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
  
.portofolio-btn_link:hover .clone > :nth-child(1) {
	transition-delay: 0.15s;
}
  
.portofolio-btn_link:hover .clone > :nth-child(2) {
	transition-delay: 0.2s;
}
  
.portofolio-btn_link:hover .clone > :nth-child(3) {
	transition-delay: 0.25s;
}
  
.portofolio-btn_link:hover .clone > :nth-child(4) {
	transition-delay: 0.3s;
}
